@import url("https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700");
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:600');

@font-face {
    font-family: 'Slimicons';
    src: url('/type/slimicons/Slimicons.eot?ofrduu');
    src: url('/type/slimicons/Slimicons.eot?ouu#iefixfrd') format('embedded-opentype'),
        url('/type/slimicons/Slimicons.ttf?ofrduu') format('truetype'),
        url('/type/slimicons/Slimicons.woff?ofrduu') format('woff'),
        url('/type/slimicons/Slimicons.svg?ofrduu#Slimicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("/type/fontawesome/fontawesome-webfont.eot?v=4.7.0");
    src: url("/type/fontawesome/fontawesome-webfont.eot?#iefix&v=4.7.0") format('embedded-opentype'),
    url("/type/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format('svg'),
    url("/type/fontawesome/fontawesome-webfont.ttf") format('truetype'),
    url("/type/fontawesome/fontawesome-webfont.woff") format('woff'),
    url("/type/fontawesome/fontawesome-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lg';
    src: url("/type/lg/lg.eot?v=4.7.0");
    src: url("/type/lg/lg.eot?#iefix&v=4.7.0") format('embedded-opentype'),
    url("/type/lg/lg.svg?v=4.7.0#fontawesomeregular") format('svg'),
    url("/type/lg/lg.ttf") format('truetype'),
    url("/type/lg/lg.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas-Bold';
    src: url("/type/BebasNeue-Bold.ttf?ofrduu") format('truetype');
    font-weight: bold;
    font-style: normal;
}

[class^="si-"],
[class*=" si-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Slimicons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.si-love_hearts:before {
    content: "\f182";
}

.si-gambling_diamond-2:before {
    content: "\ef05";
}

.si-party_christmas-cake:before {
    content: "\f2aa";
}

.si-clothes_lady-bag-3:before {
    content: "\eb63";
}

.si-building_home:before {
    content: "\ea3d";
}

.si-building_small-shop:before {
    content: "\ea71";
}

.si-building_resident-block:before {
    content: "\ea66";
}

.si-arrows_left-arrow:before {
    content: "\e98e";
}

.si-arrows_right-arrow:before {
    content: "\e9ae";
}

.fs-48 {
    font-size: 48px;
}