.header-text, .section-title {
  font-family: 'Bebas-Bold' !important;
  font-weight: bold;
  font-size: 4em;
  line-height: 1em;
}

.home-wrapper  {
  padding: 100px 20px;

  .intro-heading {
    font-family: 'Bebas-Bold' !important;
    font-weight: bold;
   text-align: center;
   font-size: 5.5vw;
   padding-bottom: 200px;

    .rotating {
      padding: 10px;
      background: #a26327;
      border-radius: 5px;
      width: 30px;
      color: white;
      box-shadow: 5px 5px 14px rgba(0,0,0, 0.2);
      //border: 10px solid #a26327
    }
  }

  .title {
    font-family: 'Bebas-Bold' !important;
    font-weight: bold;
    font-size: 4em;
  }

  .text-content {
    width: 600px;
  }

}

//.about-wrapper {
//  padding: 75px 0;
//
//  .my-portrait {
//    width: 300px;
//    float: left;
//    border-radius: 50%;
//    shape-outside: circle();
//    margin-right: 30px;
//    box-shadow: 0 11px 20px rgba(0, 0, 0, .2);
//  }
//
//  .intro-content {
//    font-family: "Muli", sans-serif;
//    font-weight: 400;
//    font-size: 20px;
//    //line-height: 36px;
//    color: #606060;
//    margin-top: 33px;
//    a {
//      color: inherit;
//    }
//  }
//}

.portfolio {
  h1 {
    margin-bottom: 50px;
  }
  .portfolio-links {
    margin-bottom: 200px;
  }
}

.align-center {
  text-align: center;
}

@media (max-width: 768px) {
  .home-wrapper {
    padding: 40px 20px;
    .intro-heading {
      font-size: 2em;
      white-space: nowrap;
      padding-bottom: 50px
    }
  }

  .about-wrapper {
    .my-portrait {
      width: initial;
      float: none;
      border-radius: 0;
      margin-right: initial;
    }
  }

}

@media (max-width: 414px) {
  .home-wrapper {
    .intro-heading {
      white-space: nowrap;
      font-size: 2.3em;
    }

    .title {
      font-size: 2em;
    }
  }

  .portfolio {
    .portfolio-links {
      margin-bottom: 100px;
    }
  }
}