.wedding-wrapper {
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  .wedding-logo {
    height: 400px;
    margin-bottom: 50px;
  }

  .bridal-img {
    width: 800px;
    border: 10px double lightgray;

  }

  .slider-wrapper {
    .wedding-slider-img {
      img {
        object-fit: scale-down !important;
      }
    }
  }

  .coming-soon-text {
    text-align: center;
    border: 10px double lightgray;
    width: 300px;
    z-index: 1;
    padding: 20px;
    position: relative;
    top: 230px;
    background: white;
    right: 101px;
    //box-shadow: 5px 5px 25px rgba(0,0,0,0.2);

    hr {
      padding-top: 5px;
      margin-bottom: 5px;
    }

    span {
      font-style: italic;
    }
  }

  .text-content {
    margin-top: 50px;
  }

  .portfolio-wrapper {
    padding-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .wedding-wrapper {
    margin: 50px 0 0 0;
    .bridal-img {
      width: initial;
      border: none;
      box-shadow: 5px 5px 5px rgba(0,0,0, .1);
    }

    .content {
      width: 100%;
    }
    .coming-soon-text {
      position: static;
      border: none;
      box-shadow: none;
      width: initial;
    }

    .slider-wrapper {
      height: 300px;
    }
  }

}